
*{
    margin: 0%;
    padding: 0;
}

.container{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex-direction: column;
}

.all{
        height: 20em;
        margin-top: 13em;
        display: flex;
        align-items: center;
        justify-content: center;      
}
.anbernic{
    height: 17em;
    width: 37em;
    background-color: grey;
    border-radius: 3em;
    box-shadow: inset 0 0 0.5em 0.5em rgb(98, 94, 94);
    border-color: rgb(78, 78, 78);
    display: flex;

}

.joystick1 {
    height: 17em;
    width: 7em;
   
}

.select{
    height: 2em;
    width: 2em;
    margin-left: 9em;
    margin-top: 4em;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    
}
.selectbutton{
    margin-left: 5.1em;
    margin-top: -0.3em;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background-color: black;
}

.arrow1 {
    margin-left: 3.3em;
    margin-top: 1.8em;
    height: 4.5em;
    width: 1.5em;
    background-color: rgb(54, 45, 45);
    border-radius: 0.5em;

}

.arrow2 {
    margin-left: 1.8em;
    margin-top: -3em;
    height: 1.5em;
    width: 4.5em;
    background-color: rgb(54, 45, 45);
    border-radius: 0.5em;
    display: flex;
    

}

.joy1{
    height: 3.7em;
    width: 3.7em;
    border-radius: 50%;
    background-color: rgb(79, 76, 76);
    margin-top: 2.6em;
    margin-left: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0.5em 0.5em rgb(70, 65, 65);
   



}

.joy2{

    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    background-color: rgb(16, 4, 4);
    
    


}

.borderscreen{
    height: 16em;
    width: 23em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 81, 81);
    margin-top: 0.5em;
    box-shadow: inset 0 0 0.5em 0.5em rgb(43, 42, 42);
    border-radius: 1em;
    
}
.screen {
    height: 15em;
    width: 22em;
    background-color: black;
    box-shadow: outset 0 0 0.5em 0.5em rgb(19, 18, 18);
    border-radius: 0.7em;
}

.joystick2 {
    height: 17em;
    width: 7em;
   
}
.start{
    height: 2em;
    width: 2em;
    margin-left: 1.5em;
    margin-top: 4em;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    
    
}
.startbutton{
    margin-left: 1.2em;
    margin-top: -0.3em;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background-color: black;

}

.button1 {
    margin-left: 2.5em;
    margin-top: 1.4em;
    height: 4.9em;
    width: 1.8em;
    background-color: rgb(159, 94, 94);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    

}
.buttonrow {
    margin-left: 1em;
    margin-top: -3.3em;
    height: 1.8em;
    width: 4.9em;
    background-color: grey;
    border-radius: 0.5em;
    display: flex;
    

}
.X{
    height: 1.6em;
    width: 1.6em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    
}
.B{
    height: 1.6em;
    width: 1.6em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    color: yellow;
}
.Y{
    height: 1.6em;
    width: 1.6em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 115);
    
}
.A{
    height: 1.6em;
    width: 1.6em;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(166, 1, 14);
    margin-left: 1.5em;
    
}
.joy3{
    height: 3.7em;
    width: 3.7em;
    border-radius: 50%;
    background-color: rgb(79, 76, 76);
    margin-top: 2.6em;
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0.5em 0.5em rgb(70, 65, 65);
}

.joy4{

    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    background-color: rgb(16, 4, 4);

}